<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SayimBirlestir.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <SayimBirlestir.Properties.Settings>
            <setting name="connectionstring" serializeAs="String">
                <value>Server=192.168.4.24;Database=VDB_YON01;User Id=sa;Password=MagicUser2023!;</value>
            </setting>
            <setting name="connectionstring2" serializeAs="String">
                <value>Server=192.168.4.24;Database=MDE_GENEL;User Id=sa;Password=MagicUser2023!;</value>
            </setting>
            <setting name="Company" serializeAs="String">
                <value />
            </setting>
            <setting name="VolFtpHost" serializeAs="String">
                <value />
            </setting>
            <setting name="VolFtpUser" serializeAs="String">
                <value />
            </setting>
            <setting name="VolFtpPass" serializeAs="String">
                <value />
            </setting>
            <setting name="DbName" serializeAs="String">
                <value />
            </setting>
        </SayimBirlestir.Properties.Settings>
    </userSettings>
</configuration>